@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
  /* font-family: 'Roboto',sans-serif; */
  font-family: 'Quicksand', sans-serif;
  color: #333;
}
img{
  max-width:100%;
  height: auto; 
}
*{
 box-sizing:border-box;
}
img{
  max-width: 100%;
}
.myqb-header{
  background: #EB5757;
  position: absolute;
  width: 100%;
  top: 0%;
}
.myqb-header::after{
  content: "";
  display: block;
  clear: both;
}
.myqb-header__logo{
   position: absolute;
   top: 15px;
   left: 92px;
}
.myqb-header__logo img{
   width: 7.5rem;
   height: 30px;
}
.myqb-header__menu-content{
  margin-left: 16.875rem;
}
.myqb-header__menu-content::after{
  content: "";
  display: block;
  clear: both;
}
.primary-nav--left{
  float: left;
}
.primary-nav--right{
  float: right;
  margin-right:92px;
}
.primary-nav ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.primary-nav ul::after{
  content: "";
  display: block;
  clear: both;
}
.primary-nav ul li{
  float: left;
  padding-right: 1.5625rem;
}
.primary-nav ul li a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding: 1.3125rem 0px;
  display: block;
  font-weight: 600;
}
.primary-nav ul li a.signin-up{
  font-weight: 600;
}
.primary-nav--right ul li{
  padding-right: 10px;
}
.large-hero{
  padding-top: 2.5rem;
  border-bottom: 0.625rem solid #EB5757;
}
.ref{
  position: relative;
}
.large-hero_wrapper{
  min-height: 400px;
}
.large-hero__content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 43.75rem;
}
.large-hero__content h1{
  font-size: 2.8125rem;
  font-weight: 700;
  color: #2f5572;
  margin: 0px;
}
.large-hero__content p{
    color: #2f5572;
    font-size: 1.1rem;
    font-weight: 100;
    
    max-width: 30rem;
}
.large-hero__image{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -999;
}
.btn{
  background-color:  #EB5757;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
    letter-spacing: 2px;
}
.btn:hover{
  box-shadow: 0px 0px 0px 2px #e68686;
}
.wrapper{
  width: 1092px;
  margin-left: auto;
  margin-right: auto;
}
.row::after{
  content: "";
  display: block;
  clear: both;
}
.margin-bt{
  margin-bottom: 3.125rem;
}
.page-section{
  padding:5rem 0px;
}
.headline{
  font-weight: 700;
  font-size: 2.875rem;
  color: #2f5572;
  margin: 0px 0px 3.75rem 0px;
  
}
.headline--centred {
  text-align: center;
}
/* Quality  */
.myqb-quality{
  padding: 1.5625rem 0px 0px;
}
.myqb-quality__wrapper{
  margin-right: -.9375rem;
}
.myqb-quality__wrapper::after{
  content: "";
  display: block;
  clear: both;
}
.myqb-quality__item{
  width: 20%;
  float: left;
  padding-right: .9375rem;
}
/* service section */
.myqb-service{
  padding-top: 3.75rem;
}
.service-filter{
  margin-bottom: 2.1875rem;
  border-bottom: 3px solid #EB5757;
}
.service-filter ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.service-filter ul::after{
  content: "";
  display: block;
  clear: both;
}
.service-filter ul li{
  float: left;
  padding-right: 1.5625rem;
  text-transform: uppercase;
  font-weight: 600;
}
.service-filter ul li:hover{
  cursor: pointer;
}
.service-item{
  width: 24%;
  border: 2px solid  #EB5757;
  margin: 0px 0.5% 1.25rem 0.5%;
}
.service-item a{
  display: block;
  padding: 0.625rem 0px 0.625rem 0.9375rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.service-item a:hover{
  box-shadow: 0px 0px 5px 3px  #EB5757;
}
.service-item a::after{
  content: "";
  display: block;
  clear: both;
}
.service-item a img{
  width: 20%;
  float: left;
  transition: all 0.5s ease;
}
.service-item a:hover img{
  transform: rotate(360deg);
}
.service-item a span{
  width: 80%;
  float: left;
  padding-top: 14px;
  padding-left: 8px;
  font-weight: 600;
}
.why-choose-myqb{
  background: #EB5757;
}
.why-choose-myqb__color{
  color: #ffffff;
  margin-bottom: 140px;
}
.why-choose-myqb__content{
  border: 1px dashed  #2f5572;
  padding: 6.75rem 0px 3.125rem;
  position: relative;
}
.why-choose-myqb__center{
  text-align: center;
  position: absolute;
  top: -6.25rem;
  left: 50%;
  background: #EB5757;
  transform: translateX(-50%);
}
.why-choose-myqb__center img{
  width: 350px;
}
.why-choose-myqb__content::after{
  content: "";
  display: block;
  clear: both;
}
.why-choose-myqb__item{
  position: relative;
  padding: 1px;
  width: 35%;
  float: left;
}
.why-choose-myqb__item--right{
  float: right;
}
.why-choose-myqb__item::after{
  content: "";
  display: block;
  clear: both;
}
.why-choose-myqb__img-content{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
  background: #EB5757;
}
.why-choose-myqb__img-content img{
  display: block;
  padding: 12px;
}
.why-choose-myqb__img-content--right{
  left: auto;
  right: -60px;
}

.why-choose-myqb__txt-content{
  margin-left: 70px;
}
.why-choose-myqb__txt-content--right{
  margin-left: 0px;
  margin-right: 70px;
  text-align: right;
}
.why-choose-myqb__txt-content h4{
  margin: 0px;
}
.gutter{
  margin-left: -12.5px;
  margin-right: -12.5px;
}
.col-3{
  width: 25%;
  float: left;
}
.most-trending-exams__item{
  border: 1px solid #EB5757;
  margin-left: 12.5px;
  margin-right: 12.5px;
}
.most-trending-exams__img{
  /* height: 130px; */
}
.most-trending-exams__img img{
  /* height: 130px; */
}
.course-title{
  text-align: center;
}
.course-title h4{
  margin: 7px 0px;
}
.instractor-name{
  text-align: center;
}
.instractor-name h5{
  margin: 6px 0px;
}
.course-price{
  text-align: center;
}
.couser-btn{
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
.current-affairs{
  background: #EB5757;
  padding: 15px 0px;
}
.btn-color{
  background: #ffffff;
  color:#EB5757;
  transition: all 0.3s ease;
}
.btn-color:hover{
  box-shadow: 0px 0px 0px 2px #ffffff;
}
.current-affairs__logo{
  width: 155px;
  height: 155px;
  background: #FFFFFF;
  padding: 1px;
  border-radius: 50%;
  float: left;
}
.current-affairs__logo img{
  width: 100%;
  display: block;
}
.current-affairs__content{
  float: left;
  padding-top: 16px;
  margin-left: 24px;
  width: calc(100% - 502px);
}
.viva-easy{
  margin-left: 90px;
  width: calc(100% - 502px);
}
.viva-easy{
  font-size: 20px;
}
.current-affairs__btn{
  float: right;
  padding-top: 70px;
  margin-left: 24px;
}
.current-affairs__headline{
  margin-bottom: 18px;
}
.col-4{
  width: 33.3333%;
  float: left;
}
.col-8{
  width: 66.6666%;
  float: left;
}
.no-mb{
  margin-bottom: 0px;
}
.no-mt{
  margin-top: 0px;
}
.cms_para{
  font-size: 24px;
  width: 80%;
}
.myqb-aps__wrapper{
  margin-bottom: 50px;
  margin-top: 30px;
}
.myqb-aps__qrcode{
  float: left;
  width: 50%;
}
.myqr-aps__download-icon{
  float: left;
  width: 50%;
  padding-top: 50px;
}
.myqr-aps__download-icon img{
  width: 250px;
}
.myqb-aps__qrcode img{
  width: 180px;
}
.myqb-aps__wrapper::after{
  content: "";
  display: block;
  clear: both;
}
.myqb-aps__headline{
  margin-bottom: 25px;
  font-size: 76px;
}
.myqr-aps__getlink{
  width: 395px;
  margin: 0 auto;
}
.form-grup{
  /* border: 1px solid #2f5572; */
}
.form-grup::after{
  content: "";
  display: block;
  clear: both;
}
.form-grup select,.form-grup input,.form-grup button{
  height: 48px;
  padding: 8px 12px;
  background: #FFFFFF;
  color: #000000;
  float: left;
  /* border: none; */
}
.form-grup button{
  background: #EB5757;
  height: 48px;
  border-radius: 0px 5px 5px 0px;
}
.form-grup select{
  border-radius: 5px 0px 0px 5px;
}
.myqr-become-partner{
  /* background: #CCCCCC; */
}
.myqr-become-partner__img{
  text-align: center;
}
.myqr-become-partner__content h3{
  font-weight: 600;

  text-align: center;
}
.myqr-become-partner__content p{
  font-weight: 300;
  text-align: center;
}
.myqr-become-partner__btn{
  margin: 50px auto 0;
  width: 276px;
}
.myqr-review{
  background: #EB5757;
}
.myqr-review__content{
  position: relative;
}
.myqr_review_wrapper{
  padding: 0px 130px;
}
.myqb_review_quotes-left,.myqb_review_quotes-right{
  position: absolute;
  z-index: 999;
}
.myqb_review_quotes-left{
  top: 0px;
  left: 0px;
}
.myqb_review_quotes-right{
  bottom: 0px;
  right: 0px;
}

.owl-carousel .owl-item .myqb_review_quotes-left img,.owl-carousel .owl-item .myqb_review_quotes-right img{
  width: 50px;
  height: 50px;
} 
.owl-carousel .owl-item img{
  width: 180px;
  height: 180px;
}
.myqr-review__img{
  width: 180px;
  float: left;
  margin-right: 120px;
}
.myqr-review__txt{
  float: left;
  width:calc(100% - 300px); 
}
.myqr-review__txt p{
  font-size: 22px;
}
.myqr-review__txt h4{
  margin: 0px 0px 4px 0px;
}
.myqr-review__txt h5{
  margin: 0px 0px 0px 0px;
}
.myqb-counter__item{
  text-align: center;
}
.myqb-counter__content h3{
  font-weight: 700;
  text-align: center;
  color: #2f5572;
}
.myqb-counter__content h3 span{
  font-weight: 700;
  color:#EB5757;
}
.myqb-counter__content p{
  text-align: center;
  color: #2f5572;
}
.footer-top{
  background: rgba(21,28, 42, 0.87);
  padding: 25px;
}
.footer-top__title{
  color: #FFF;
  text-decoration: underline;
}
.footer-top__title img{
  width: 120px;
  height: 30;
}
.footer-top__list{
  color: #FFFFFF;
  list-style: none;
  padding: 0px;
}
.footer-top__list li{
  /* margin-bottom: 15px; */
}
.footer-top__list li a{
  color: #FFFFFF;
  display: block;
  padding: 5px 0px;
  text-decoration: none;
  font-weight: 300;
}
.line{
  margin-bottom: 18px;
}
.line::after{
  content: "";
  display: block;
  clear: both;
}
.line span{
  color: #FFFFFF;
  float: left;
}
.line__txt{
  float: left;
  padding-top: 3px;
}
.line p{
  color: #FFFFFF;
  line-height: 8px;
  margin: 0px 0px 10px 12px;
}
.footer-top__follow-us-title{
  color: #FFFFFF;
}
.icom-wrapper{
  margin-bottom: 10px;
}
.icom-wrapper span{
  margin-right: 5px;
}
.footer-top__follow-us-icon span a i{
  color: #FFFFFF;
  font-size: 40px;
}
.myqb-footer{
  /* background: rgba(21,28, 42, 0.87); */
  padding: 15px 0px;
  background: #EB5757;
}
.myqb-footer_terms{
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.myqb-footer_terms span{
  margin-right: 15px;
  font-weight: 700;
}
.myqb-footer__copy{
  text-align: center;
  font-weight: 300;
}
.myqb-footer__copy p{
  margin: 0px;
  color: #FFFFFF;
}
.primary-nav ul li a.signin-up{
  border: 1px solid #FFFFFF;
  padding: 5px 5px;
  margin-top: 14px;
  transition: all 0.5s ease;
}
.primary-nav ul li a.signin-up:hover{
  /* box-shadow: 1px 1px 1px 5px  #FFFFFF; */
  background-color: #FFFFFF;
  color: #000000;
}
/* Blog page style */
.blog-filter{
  display: flex;
  justify-content: center;
  /* border-bottom: 1px solid #EB5757; */
}
.blog-filter ul{
  list-style: none;
}
.blog-filter ul::after{
  content: "";
  display: block;
  clear: both;
}
.blog-filter ul li{
  float: left;
  padding-right: 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.blog-filter ul li:hover{
  cursor: pointer;
}
.blog-wrapper{
  padding: 25px;
  border: 2px solid #EB5757;
}
.blog-wrapper .blog-item{
  width: 30%;
  border: 2px solid  #ddd;
  margin: 0px 1.5% 20px 0;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.05);
}
.blog-wrapper .blog-item .blog-img{
  margin-bottom: 15px;
}
.blog-wrapper .blog-item .blog-img a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
.blog-wrapper .blog-item .blog-note{
  padding-left: 7px;
}
.blog-wrapper .blog-item .blog-note a{
  text-decoration: none;
}
.blog-wrapper .blog-item .blog-note p span{
  margin-right: 5px;
}
/* Blog details style */
.body-color{
  background: #e9ebee;
}
.position-normal{
  position: static;
}
.blog-details-wrapper{
  min-height: 1px;
  background: #ffffff;
  padding: 20px;
  margin-right: 15px;
}
.blog_feature-img img{
  min-height: 1px;
}
.blog_feature-heading .blog-dtl-btn a{
  text-decoration: none;
  padding: 5px 0px;
  display: inline-block;
  margin: 4px 0px;
}
.blog_feature-heading .blog-cat-btn{
  min-height: 1px;
}
.blog_feature-txt p{
  font-size: 1.2rem;
  line-height: 1.6em;
  font-family: Kiron, SolaimanLipi, Arial, Vrinda, FallbackBengaliFont, Helvetica, sans-serif !important;
}
.blog-sidebar{
  background: #ffffff;
  padding: 20px;
  margin-left: 15px;
}
.sidebar-heading{
  background: transparent;
    color: #444444;
    font-size: 1.2em;
    text-transform: none;
    font-weight: bold;
    line-height: 1.5em;
    border-bottom: 1px solid #ccc;
    padding: 6px 0px;
    font-family: 'Roboto', Helvetica;
    margin-bottom: 8px;
}
/* About Us Style */
.about-us_img{
  text-align: center;
  width: 300px;
  margin: 0px auto;
  margin-bottom: 50px;
}
.about-us_img img{
  width: 100%;
}
.about-us__content p{
  font-size: 20px;
  line-height: 25px;
}
/* Our team style */
.our-team{

}
.our-team__pic{
  margin-bottom: 50px;
}
.our-team__description{
  margin-bottom: 50px;
  padding: 0px 15px 0px;
}
.our-team__description p{
  font-size: 20px;
  line-height: 25px;
}
/* here in problem */
.our-team_wrapper{
  width: 992px;
  margin: 0 auto;
}

.our-team-member{
  width: 25%;
  text-align: center;
  float: left;
  margin-bottom: 35px;
}
.member-img{
  text-align: center;
}
.member-img img{
  height: 180px;
  border-radius: 50%;
  width: 180px;
  background: #fff;
}
.member-name p{
  font-weight: 700;
  font-size: 20px;
}
.member-designation{}
.member-social-profiles{
  color: #FFFFFF;
  font-size: 30px;
}
.member-social-profiles{

}
.member-icom-wrapper span a i{
  font-size: 30px;
  color: #2f5572;
}
/* contact us */
.myqb-contact-us__img{
  text-align: center;
  margin-bottom: 50px;
}
.myqb-form-row{
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 15px;
}
.myqb-form-row::after{
  content: "";
  display: block;
  clear: both;
}
.myqb-form-group{
  width: 100%;
}
.myqb-form-col-6{
  width: 50%;
  float: left;
  padding: 0px 5px;
}
.myqb-form-col-12{
  padding: 0px 5px;
}

.myqb-form-group label{
  display:inline-block;
  margin-bottom: 7px;
}
.myqb-form-group .form-field{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  min-height: 40px;
  border: 1px solid #EB5757;
}
.myqb-form-group .form-field:focus{
  border: 1px solid #EB5757;
  box-shadow: none;
}
/* Career section */
.myqb-career__img{
  text-align: center;
}
.myqb-career__img img{
  height: 400px;
}
.myqb-career-desc{
  font-size: 20px;
  line-height: 25px;
}
.myqb-career__content{
  margin-top: 50px;
}
.myqb-career__item-wrapper{
  margin-left: -7px;
  margin-right: -7px;
}
.myqb-career__item-wrapper::after{
  content: "";
  display: block;
  clear: both;
}
.myqb-career__item{
  width: 33.33%;
  float: left;
  text-align: center;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 15px;
}
.myqb-career__item-inner{
 padding-top: 25px;
 padding-bottom: 25px;
}
.myqb-career__item h3{
  font-weight: 600;
  margin: 0px 0px 15px 0px;
}
.myqb-career__item p{
  line-height: 1.5;
  font-size: .875rem;
  margin: 0px;
}
.myqb-career__btn-continer{
  text-align: center;
  margin-top: 25px;
}